<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="javax.persistence.validation.mode">none</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">140488</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/student_db</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <mapping class="com.deskind.mavenwebapp.entity.University"/>
    <mapping class="com.deskind.mavenwebapp.entity.Student"/>
    <mapping class="com.deskind.mavenwebapp.entity.Teacher"/>
    <mapping class="com.deskind.mavenwebapp.entity.Discipline"/>
  </session-factory>
</hibernate-configuration>
